<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.testfatemtechub1</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fate</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.358283258942-2g23kvf0gbp459ggoea76gbhrn4ht4bv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Fate Dating App needs access to your media library to view and upload media  in the app.</string>
	<key>NSCameraUsageDescription</key>
	<string>Fate Dating App needs camera access to let you take profile photos, upload content, and send pictures to matches in chat.</string>

	<key>NSExceptionDomains</key>
	<dict>
		<key>localhost</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
		</dict>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Fate Dating App needs access to your local network for making voice and video calls with other users, enhancing your communication experience within app.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Fate Dating App uses your location to find potential matches nearby, show their distance from you, and enable location-based features such as discovering singles in your area. Your location helps us connect you with compatible people in your vicinity.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Fate Dating App needs access to your location to provide you with personalized dating experiences, such as showing you potential matches.Your location helps us enhance your dating experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Fate Dating App uses your location to find potential matches .Your location helps us enhance your dating experience.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Fate Dating App needs access to your microphone to allow you to send voice messages and make voice calls with other users, enhancing your communication experience.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Fate Dating App needs access to your photo library to allow you to upload photos within app, enhancing your profile and interactions.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fate Dating App needs access to your photo library to allow you to upload and within app, enhancing your profile and interactions.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Fate Dating App uses speech recognition to convert your voice messages into text, making it easier for you to communicate with others.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Jost-Black.ttf</string>
		<string>Jost-BlackItalic.ttf</string>
		<string>Jost-Bold.ttf</string>
		<string>Jost-BoldItalic.ttf</string>
		<string>Jost-ExtraBold.ttf</string>
		<string>Jost-ExtraBoldItalic.ttf</string>
		<string>Jost-ExtraLight.ttf</string>
		<string>Jost-ExtraLightItalic.ttf</string>
		<string>Jost-Italic.ttf</string>
		<string>Jost-Light.ttf</string>
		<string>Jost-LightItalic.ttf</string>
		<string>Jost-Medium.ttf</string>
		<string>Jost-MediumItalic.ttf</string>
		<string>Jost-Regular.ttf</string>
		<string>Jost-SemiBold.ttf</string>
		<string>Jost-SemiBoldItalic.ttf</string>
		<string>Jost-Thin.ttf</string>
		<string>Jost-ThinItalic.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
